/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
	-moz-appearance: none;
	font: message-box;
	font-size: 12px;
	color: #444;
	background-color: transparent;
	height: 100%;

	--opacity: 0.8;
	--text-hover: rgb(31, 54, 76);
	--text: rgba(31, 54, 76, var(--opacity));
	--shadow-hover: rgb(255, 255, 255);
	--shadow: rgba(255, 255, 255, var(--opacity));
	--background-fill: rgba(255, 255, 255, 0.2);
}
:root[theme="dark"] {
	--text-hover: rgb(255, 255, 255);
	--text: rgba(255, 255, 255, var(--opacity));
	--shadow-hover: rgb(31, 54, 76);
	--shadow: rgba(31, 54, 76, var(--opacity));
	--background-fill: rgba(31, 54, 76, 0.2);
}
:root:not([page-disabled]) {
	background-color: #f2f2f2;
}
body {
	height: 100%;
	display: flex;
	margin: 0;
	background-size: cover;
	background-position: 50% 50%;
}
input[type="button"] {
	cursor: pointer;
}
/* SCROLLBOX */
#newtab-scrollbox {
	display: flex;
	position: relative;
	flex: 1;
	-moz-user-focus: normal;
	flex-direction: column;
}
:root[launcher="left"] #newtab-scrollbox,
:root[launcher="right"] #newtab-scrollbox {
	flex-direction: row;
}
#newtab-scrollbox[page-disabled] {
	background-image: none !important;
}
#newtab-scrollbox:not([page-disabled]) {
	overflow: auto;
	color: #000;
}
/* RECENT TABS */
#newtab-recent-outer,
#newtab-undo-container,
#options-toggle {
	margin-top: -1px;
	margin-bottom: 3px;
}
:root[spacing="medium"] #newtab-margin-top:-moz-any(.medium, .large) :-moz-any(#newtab-recent-outer, #newtab-undo-container, #options-toggle) {
	margin-top: 0;
	margin-bottom: 8px;
}
:root[spacing="large"] #newtab-margin-top:-moz-any(.medium, .large) :-moz-any(#newtab-recent-outer, #newtab-undo-container, #options-toggle) {
	margin-top: 0;
	margin-bottom: 18px;
}

#newtab-recent-outer {
	white-space: nowrap;
	line-height: 28px;
	flex: 1;
}
#newtab-recent {
	overflow: hidden;
	height: 28px;
}
#newtab-recent > span {
	display: inline-block;
	vertical-align: middle;
	margin-inline-end: 4px;
	color: var(--text);
	text-shadow: 0 0 3px var(--shadow), 0 0 1px var(--shadow);
}
.recent {
	padding: 2px 4px;
	display: inline-block;
	line-height: 20px;
	border-radius: 4px;
	/* see newTabTools.trimRecent */
	margin-inline-end: 4px;
	cursor: pointer;
	text-decoration: none;
	text-overflow: ellipsis;
	max-width: 200px;
	overflow-x: hidden;
	white-space: nowrap;
	vertical-align: middle;
	color: var(--text);
	text-shadow: 0 0 3px var(--shadow), 0 0 1px var(--shadow);
}
.recent:hover {
	color: var(--text-hover);
	text-shadow: 0 0 3px var(--shadow-hover), 0 0 1px var(--shadow-hover);
}
/* UNDO */
#newtab-undo-container {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-inline-start: 1em;
	padding: 4px 3px;
	line-height: 18px;
	border: 1px solid;
	border-color: rgba(8, 22, 37, 0.12) rgba(8, 22, 37, 0.14) rgba(8, 22, 37, 0.16);
	background-color: rgba(255, 255, 255, 0.4);
	color: #525e69;
	transition: opacity 200ms, display 0s 200ms;
}
#newtab-undo-container[undo-disabled] {
	opacity: 0;
	pointer-events: none;
	display: none;
}
#newtab-undo-label {
	margin: 0 4px;
}
.newtab-undo-button {
	-moz-appearance: none;
	cursor: pointer;
	padding: 0;
	margin: 0 2px;
	border: 0;
	background: transparent;
	text-decoration: none;
	min-width: 0;
	font-size: 100%;
	color: -moz-nativehyperlinktext;
}
.newtab-undo-button:hover {
	text-decoration: underline;
}
.newtab-undo-button:-moz-focusring {
	outline: 1px dotted;
}
#newtab-undo-close-button,
#options-close > button {
	-moz-appearance: none;
	height: 16px;
	width: 16px;
	padding: 0;
	border: none;
	background-color: transparent;
	background-image: -moz-image-rect(url("close.svg"), 0, 16, 16, 0);
	background-position: center center;
	background-repeat: no-repeat;
	vertical-align: middle;
}
#newtab-undo-close-button:hover,
#options-close > button:hover {
	background-image: -moz-image-rect(url("close.svg"), 0, 32, 16, 16);
}
#newtab-undo-close-button:hover:active,
#options-close > button:hover:active {
	background-image: -moz-image-rect(url("close.svg"), 0, 48, 16, 32);
}
#newtab-undo-close-button:-moz-focusring {
	outline: 1px dotted;
}
/* TOGGLE */
#newtab-toggle {
	position: absolute;
	top: 12px;
	right: 12px;
	width: 16px;
	height: 16px;
	padding: 0;
	border: none;
	background: -216px 0 transparent url("controls.png");
	z-index: 1;
}
#newtab-toggle:-moz-locale-dir(rtl) {
	left: 12px;
	right: auto;
}
#newtab-toggle[page-disabled] {
	background-position: -232px 0;
}
@media (min-resolution: 2dppx) {
	#newtab-toggle {
		background-image: url("controls@2x.png");
		background-size: 296px;
	}
}
/* MARGINS */
#newtab-vertical-margin {
	display: flex;
	position: relative;
	flex: 1;
	flex-direction: column;
	order: 2;
}
#newtab-horizontal-margin {
	display: flex;
	flex: 5;
}
#newtab-margin-top,
#newtab-margin-bottom,
.newtab-side-margin {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: none;
}
#newtab-margin-top {
	align-items: flex-end;
}
#newtab-margin-top,
#newtab-margin-bottom,
:root[launcher="top"] #newtab-margin-top.medium {
	height: 30px;
}
#newtab-margin-top.medium,
#newtab-margin-bottom.medium {
	height: 60px;
}
#newtab-margin-top.large,
#newtab-margin-bottom.large {
	height: 120px;
}
:root[launcher="bottom"] #newtab-margin-bottom {
	height: 10px;
}
:root[launcher="bottom"] #newtab-margin-bottom.medium {
	height: 20px;
}
:root[launcher="top"] #newtab-margin-top.large,
:root[launcher="bottom"] #newtab-margin-bottom.large {
	height: 40px;
}
.newtab-side-margin {
	width: 30px;
}
.newtab-side-margin.medium {
	width: 60px;
}
.newtab-side-margin.large {
	width: 120px;
}
:root[launcher="right"] .newtab-side-margin:last-child,
:root[launcher="left"] .newtab-side-margin:first-child {
	width: 10px;
}
:root[launcher="right"] .newtab-side-margin:last-child.medium,
:root[launcher="left"] .newtab-side-margin:first-child.medium {
	width: 20px;
}
:root[launcher="right"] .newtab-side-margin:last-child.large,
:root[launcher="left"] .newtab-side-margin:first-child.large {
	width: 40px;
}
/* LAUNCHER */
#launcher {
	display: none;
}
:root[launcher] #launcher {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	order: 3;
}
:root[launcher="top"] #launcher,
:root[launcher="bottom"] #launcher {
	flex-direction: row;
	width: 100%;
}
:root[launcher="right"] #launcher,
:root[launcher="left"] #launcher {
	flex-direction: column;
	width: 90px;
}
:root[launcher="top"] #launcher,
:root[launcher="left"] #launcher {
	order: 1;
}
/* LAUNCH BUTTONS */
.launchButton {
	display: flex;
	flex-direction: column;
	margin: 1px 1px;
	padding: 10px 6px;
	vertical-align: top;
	white-space: normal;
	background: none;
	border: none;
	color: var(--text);
	text-shadow: 0 0 3px var(--shadow), 0 0 1px var(--shadow);
	font-family: inherit;
	font-size: 12px;
	cursor: pointer;
}
:root[launcher="left"] .launchButton,
:root[launcher="right"] .launchButton {
	width: 88px;
	height: 75px;
}
:root[launcher="top"] .launchButton,
:root[launcher="bottom"] .launchButton {
	min-width: 88px;
}
.launchButton:hover {
	color: var(--text-hover);
	text-shadow: 0 0 3px var(--shadow-hover), 0 0 1px var(--shadow-hover);
}
.launchButton::before {
	display: block;
	height: 36px;
	line-height: 0;
	opacity: var(--opacity);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 36px 36px;
	content: "";
	margin-bottom: 2px;
}
.launchButton:hover::before {
	opacity: 1;
}
#launcher:not([session]) > #restorePreviousSession {
	display: none;
}
#downloads::before {
	background-image: url("launcher/light/downloads.png");
}
#bookmarks::before {
	background-image: url("launcher/light/bookmarks.png");
}
#history::before {
	background-image: url("launcher/light/history.png");
}
#addons::before {
	background-image: url("launcher/light/addons.png");
}
#sync::before {
	background-image: url("launcher/light/sync.png");
}
#settingsWin::before,
#settingsUnix::before {
	background-image: url("launcher/light/settings.png");
}
#restorePreviousSession::before {
	background-image: url("launcher/light/restore.png");
}
#restorePreviousSession:-moz-dir(rtl)::before {
	transform: scaleX(-1);
}
:root[launcher="left"] #restorePreviousSession,
:root[launcher="right"] #restorePreviousSession {
	height: 105px;
}
:root[theme="dark"] #downloads::before {
	background-image: url("launcher/dark/downloads.png");
}
:root[theme="dark"] #bookmarks::before {
	background-image: url("launcher/dark/bookmarks.png");
}
:root[theme="dark"] #history::before {
	background-image: url("launcher/dark/history.png");
}
:root[theme="dark"] #addons::before {
	background-image: url("launcher/dark/addons.png");
}
:root[theme="dark"] #sync::before {
	background-image: url("launcher/dark/sync.png");
}
:root[theme="dark"] #settingsWin::before,
:root[theme="dark"] #settingsUnix::before {
	background-image: url("launcher/dark/settings.png");
}
:root[theme="dark"] #restorePreviousSession::before {
	background-image: url("launcher/dark/restore.png");
}
/* GRID */
#newtab-grid {
	display: flex;
	flex: 5;
	flex-direction: column;
	min-width: 600px;
	min-height: 400px;
	transition: 100ms ease-out;
	transition-property: opacity;
}
#newtab-grid[page-disabled] {
	opacity: 0;
}
#newtab-grid[locked],
#newtab-grid[page-disabled] {
	pointer-events: none;
}
/* ROWS */
.newtab-row {
	display: flex;
	flex-direction: row;
	flex: 1;
	margin-bottom: 5px;
}
:root[spacing="medium"] .newtab-row:not(:last-child) {
	margin-bottom: 10px;
}
:root[spacing="large"] .newtab-row:not(:last-child) {
	margin-bottom: 20px;
}
.newtab-row:last-child {
	margin-bottom: 0;
}
/* CELLS */
.newtab-cell {
	display: flex;
	flex: 1;
	margin-inline-end: 5px;
}
:root[spacing="medium"] .newtab-cell:not(:last-child) {
	margin-inline-end: 10px;
}
:root[spacing="large"] .newtab-cell:not(:last-child) {
	margin-inline-end: 20px;
}
.newtab-cell:last-child {
	margin-inline-end: 0;
}
/* SITES */
.newtab-site {
	position: relative;
	flex: 1;
	transition: 100ms ease-out;
	text-decoration: none;
	transition-property: top, left, opacity;
}
.newtab-site[frozen] {
	position: absolute;
	pointer-events: none;
}
.newtab-site[dragged] {
	z-index: 10;
	transition-property: none;
}
/* FAVICON + LINK + THUMBNAIL */
.favicon {
	margin-top: -2px;
	margin-inline-end: 3px;
	vertical-align: middle;
	width: 16px;
	height: 16px;
	opacity: var(--opacity);
}
.recent:hover > .favicon,
.newtab-site:hover .newtab-title > .favicon {
	opacity: 1;
}
:root.hideFavicons .favicon {
	display: none;
}
.newtab-link,
.newtab-thumbnail {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
}
.newtab-thumbnail {
	opacity: var(--opacity);
	transition: opacity 100ms ease-out;
	background-origin: padding-box;
	background-clip: padding-box;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center top;
	background-color: var(--background-fill);
	margin-bottom: 24px;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}
/*.newtab-thumbnail.custom-thumbnail,*/
:root.containThumbs .newtab-thumbnail {
	background-size: contain;
	background-position: 50% 50%;
}
.newtab-thumbnail[dragged],
.newtab-link:-moz-focusring > .newtab-thumbnail,
.newtab-site:active > .newtab-link > .newtab-thumbnail,
.newtab-site:hover > .newtab-link > .newtab-thumbnail {
	opacity: 1;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.5), 0px 0px 10px rgba(8, 22, 37, 0.3);
}
:root[titlesize="hidden"] .newtab-thumbnail {
	margin-bottom: 0;
}
:root[titlesize="medium"] .newtab-thumbnail {
	margin-bottom: 27px;
}
:root[titlesize="large"] .newtab-thumbnail {
	margin-bottom: 30px;
}
/* TITLES */
.newtab-title {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 8px;
	line-height: 24px;
	color: var(--text);
	text-align: center;
	text-shadow: 0 0 3px var(--shadow), 0 0 1px var(--shadow);
}
.newtab-site:active .newtab-title,
.newtab-site:hover .newtab-title {
	color: var(--text-hover);
	text-shadow: 0 0 3px var(--shadow-hover), 0 0 1px var(--shadow-hover);
}
:root[titlesize="hidden"] .newtab-title {
	visibility: collapse;
}
:root[titlesize="medium"] .newtab-title {
	font-size: 15px;
}
:root[titlesize="large"] .newtab-title {
	font-size: 18px;
}
/* CONTROLS */
.newtab-control {
	position: absolute;
	top: 4px;
	opacity: 0;
	transition: opacity 100ms ease-out;
	width: 24px;
	height: 24px;
	padding: 1px 2px 3px;
	border: none;
	background: transparent url("controls.png");
}
:root.hideButtons .newtab-control {
	display: none;
}
.newtab-control:-moz-focusring,
.newtab-site:hover > .newtab-control {
	opacity: 1;
}
.newtab-control[dragged] {
	opacity: 0 !important;
}
@media (-moz-touch-enabled) {
	.newtab-control {
		opacity: 1;
	}
}
@media (min-resolution: 2dppx) {
	.newtab-control {
		background-image: url("controls@2x.png");
		background-size: 296px;
	}
}
.newtab-control-pin:-moz-locale-dir(ltr),
.newtab-control-block:-moz-locale-dir(rtl) {
	left: 4px;
}
.newtab-control-block:-moz-locale-dir(ltr),
.newtab-control-pin:-moz-locale-dir(rtl) {
	right: 4px;
}
.newtab-control-pin:hover {
	background-position: -24px 0;
}
.newtab-control-pin:active {
	background-position: -48px 0;
}
.newtab-control-pin[pinned] {
	background-position: -72px 0;
}
.newtab-control-pin[pinned]:hover {
	background-position: -96px 0;
}
.newtab-control-pin[pinned]:active {
	background-position: -120px 0;
}
.newtab-control-block {
	background-position: -144px 0;
}
.newtab-control-block:hover {
	background-position: -168px 0;
}
.newtab-control-block:active {
	background-position: -192px 0;
}
/* DRAG & DROP
 * This is just a temporary drag element used for dataTransfer.setDragImage()
 * so that we can use custom drag images and elements. It needs an opacity of
 * 0.01 so that the core code detects that it's in fact a visible element.
 */
.newtab-drag {
	width: 1px;
	height: 1px;
	background-color: #fff;
	opacity: 0.01;
}
/* OPTIONS */
#newtab-margin-right-top {
	justify-content: flex-start;
}
:root[spacing="medium"] #newtab-margin-right-top:-moz-any(.medium, .large) #options-toggle {
	margin-inline-start: 8px;
	margin-inline-end: 0;
}
:root[spacing="large"] #newtab-margin-right-top:-moz-any(.medium, .large) #options-toggle {
	margin-inline-start: 18px;
	margin-inline-end: 0;
}
#newtab-margin-right-top:not(.medium):not(.large) #options-toggle {
	margin-inline-end: 0;
	padding-inline-start: 1px;
	width: 27px;
}
#options-toggle {
	margin-inline-end: -1px;
	margin-inline-start: 3px;
	width: 28px;
	height: 28px;
	padding: 0;
	border: none;
	background: transparent url("options-light.svg") center no-repeat;
	background-size: 18px;
	z-index: 2;
	opacity: var(--opacity);
}
#options-toggle:hover {
	opacity: 1;
}
:root[theme="dark"] #options-toggle {
	background-image: url("options-dark.svg");
}
#options-toggle:-moz-locale-dir(rtl) {
	left: 10px;
	right: auto;
}
#options-toggle-pointer {
	position: absolute;
	top: 3px;
	right: 26px;
	line-height: 18px;
	color: white;
	text-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
	border-width: 0 17px 0 8px;
	border-style: solid;
	border-color: transparent;
	padding: 1px 0 3px;
	/* TODO replace with SVG image once that is fixed. */
	border-image: url("pointer.png") 0 17% 0 8% fill;
	animation: pointerslide 2s paused;
}
#options-toggle-pointer:-moz-locale-dir(rtl) {
	left: 30px;
	right: auto;
	border-width: 0 8px 0 17px;
	padding: 1px 0 3px;
	/* TODO replace with SVG image once that is fixed. */
	border-image: url("pointer-rtl.png") 0 8% 0 17% fill;
	animation: pointerslide-rtl 2s paused;
}
@keyframes pointerslide {
	0% {
		transform: translatex(-100px);
		opacity: 0;
	}
	100% {
		transform: translatex(0px);
	}
}
@keyframes pointerslide-rtl {
	0% {
		transform: translatex(100px);
		opacity: 0;
	}
	100% {
		transform: translatex(0px);
	}
}
#newtab-scrollbox[page-disabled] #options-toggle,
#newtab-scrollbox[page-disabled] #options-toggle-pointer,
#newtab-scrollbox[page-disabled] #launcher,
#newtab-scrollbox[page-disabled] #newtab-recent-outer,
#newtab-scrollbox:not([page-disabled]) #newtab-toggle {
	display: none;
}
:root[options-hidden] #options,
:root[options-hidden] #options-bg,
:root:not([options-hidden]) #options-toggle,
:root:not([options-hidden]) #options-toggle-pointer {
	visibility: hidden;
}
:root:not([options-hidden]) #newtab-scrollbox,
:root:not([options-hidden]) .newtab-background {
	filter: blur(1px);
}
#options-bg {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
}
#options {
	background-color: #f2f2f2;
	border: 1px solid #b2aeaa;
	position: fixed;
	top: 2em;
	left: 50%;
	margin-left: calc(-375px - 2em);
	padding: 1em;
	box-sizing: border-box;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}
#options-close {
	position: absolute;
	top: 0.5em;
	right: 0.5em;
	line-height: 0;
	z-index: 1;
}
#options-inner {
	display: flex;
}
#options-tile {
	width: 350px;
	margin-inline-end: 2em;
}
#options-page {
	width: 400px;
	display: flex;
	flex-direction: column;
}
#options fieldset {
	margin: 0;
	border: none;
}
#options legend {
	margin: 0;
	font-weight: bold;
}
#options button:not(.arrow) {
	min-width: 0;
	margin-inline-start: 0;
	margin-inline-end: 0;
	padding: 0;
}
#options input,
#options button:not(.arrow),
#options select {
	font-size: 12px;
	color: #444;
	margin: 0;
}
#options button:disabled {
	color: #888;
}
.options-row {
	align-items: baseline;
	justify-content: center;
	display: flex;
}
.spacer {
	flex: 1;
}
#options-pinURL-input,
#options-thumbnail-input,
#options-title-input,
#options-bg-input {
	flex: 1;
}
#options-pinURL-input:-moz-ui-invalid {
	box-shadow: 0 0 1.5px #ff0000;
}
#options-thumbnail-wrap {
	margin: 0 1em;
	display: flex;
	align-items: center;
}
button.arrow {
	background-image: url("arrow.svg");
	width: 24px;
	height: 24px;
	margin: 3px;
	padding: 0;
	-moz-appearance: none;
	border: none;
}
#options-previous-row-tile {
	margin-top: -1.5em;
	transform: rotate(90deg);
}
#options-next-tile {
	transform: scalex(-1);
}
#options-next-row-tile {
	transform: rotate(-90deg);
}
#options-thumbnail {
	width: 200px;
	height: 150px;
	margin: 0 auto;
	opacity: 1;
	position: static;
	flex: 1;
}
#options-url {
	display: block;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 300px;
	margin: 0 auto 10px;
}
#options-bgcolor-input {
	visibility: collapse;
}
#options-bgcolor-displaybutton {
	margin-inline-start: 4px !important;
}
#options-bgcolor-display {
	width: 24px;
	outline: 1px currentcolor solid;
}
table {
	width: 100%;
	border-collapse: collapse;
}
tr {
	height: 31px;
}
th, td {
	text-align: left;
	font-weight: normal;
	margin: 0;
	padding: 2px 5px;
	line-height: 27px;
	vertical-align: middle;
}
#options input[type="checkbox"],
#options input[type="radio"] {
	margin-inline-end: 4px;
	vertical-align: middle;
}
.preferences-alignment {
	min-height: 30px;
	align-items: center;
}
input[type="range"] {
	width: 200px;
}
input[type="number"] {
	width: 4em;
}
a {
	color: -moz-nativehyperlinktext;
	white-space: nowrap;
}
#options-datacollection {
	text-align: center;
	margin: 1em 0;
}
#options-donate-wrap {
	border: 1px #b2aeaa solid !important;
	background-color: #f9f9f9;
	text-align: center;
}
#options-donate-wrap > :first-child {
	margin: 0.5em 0.5em 0;
}
#options-donate-wrap > :last-child {
	margin: 0 0.5em 0.5em;
}
